name: CI

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4

        with:
          node-version: 24

      - name: Corepack
        run: corepack enable

      - name: Yarn install
        run: yarn

      - name: Compile packages and examples
        run: yarn build

      - name: Publish packages
        if: github.event_name == 'push' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master')
        env:
          NODE_AUTH_TOKEN: ""
        run: |
          node scripts/publish-npm.mjs
